<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title ExpressGeneratorTypeScriptApp
        link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

    body
        h1="Just a pug example"

    script src="scripts/index.js"

