<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title ExpressGeneratorTypeScriptApp
        link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")

    body
        div(class="users-column add-user-col")
            div(class="column-header") Add User:
            
            div
                input(id="name-input" placeholder="Name")

            div
                input(id="email-input" placeholder="Email")

            div
                button(id="add-user-btn") Add


        div(class="users-column")
            div(class="column-header") Users:
            div(id="all-users-anchor")


    script src="scripts/index.js"

